/* Inputmask.extendAliases({
    pesos: {
              prefix: "₱ ",
              groupSeparator: ".",
              alias: "numeric",
              placeholder: "0",
              autoGroup: true,
              digits: 2,
              digitsOptional: false,
              clearMaskOnLostFocus: false
          }
  }); */

  .text-left {
    text-align: right;
  }